.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#login-box {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}
table {
    border: 1px solid;
    border-collapse: collapse;
}
td, th {
    border: 1px solid;
}
th {
    background-color: #ffbb00;
}

label{
   display: inline-block;
   width: 10em;
   text-align: right;
   margin: 0.25em;
   font-weight: bold;
}

input[type="submit"],input[type="reset"]  {
   width: 100px;
   height:30px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   border: 1px solid #999;
}

.error{
    color:red;
}

p{
  display: table;
}

span{
    display: table-cell;
}